$green: #A0FF1F !default;
$pink: #F70087 !default;
$black: #000000 !default;
$white: #FFFFFF !default;
$darkGrey: #5B5B5B !default;
$midGrey: #C3C3C3 !default;
$lightGrey: #F8F8F8 !default;

// RESPONSIVE BREAKPOINTS
$xs: '350px';
$sm: '576px';
$md: '768px';
$lg: '991px';
$xl: '1200px';
$xxl: '1600px';
