/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  @include inuit-font-size(14px);
  font-family: $font-family-highlight;
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  transition: all 300ms ease-in-out;
  border-radius: 0;
  text-decoration: none;
  letter-spacing: 2pt;
  font-weight: bold;
}

.c-btn--icon {
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 30px;

  &-cursor {
    background-image: url(img/svgs/Cursor.svg);

    &:hover,
    &:focus {
      background-image: url(img/svgs/CursorDark.svg);
    }
  }

  &-android {
    background-image: url(img/svgs/Android.svg);

    &:hover,
    &:focus {
      background-image: url(img/svgs/AndroidDark.svg);
    }
  }

  &-ios {
    background-image: url(img/svgs/Apple.svg);

    &:hover,
    &:focus {
      background-image: url(img/svgs/AppleDark.svg);
    }
  }
}



/* Style variants
   ========================================================================== */
.c-btn--primary {
  background-color: $black;
  border: 2px solid $black;
  color: $white;

  svg {
    fill: $white;
  }

  &:hover,
  &:focus {
    text-decoration: none; /* [4] */
    color: $black;
    background-color: $white;

    svg {
      fill: $black;
    }
  }
}

.c-btn--secondary {
  background-color: $white;
  border: 2px solid $black;
  color: $black;

  svg {
    fill: $white;
  }

  &:hover,
  &:focus {
    text-decoration: none; /* [4] */
    color: $black;
    background-color: $white;

    svg {
      fill: $black;
    }
  }
}


/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}

.c-btn--full-width {
  width: 100%;
}


/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid $white;
  background-color: transparent;
  color: $white;
  padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

  &:hover,
  &:active,
  &:focus {
    background: $white;
    color: $black
  }

  &--solid-background {
    background-color: $black;
  }

  &--inverted {
    background: $white;
    color: $black;

    &:hover,
    &:active,
    &:focus {
      border-color: $white;
      background: $black;
      color: $white
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $white;
      outline: none;
    }
  }

  &.c-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);

    @media (max-width: $sm) {
      padding: (($inuit-global-spacing-unit-small - $btn-ghost-border-width) / 2) (($inuit-global-spacing-unit-large - $btn-ghost-border-width) / 3);
    }
  }
}
